:root{
    --primary-color: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    --secondary-color: linear-gradient(109.6deg, rgb(102, 51, 153) 11.2%, rgb(69, 179, 224) 100.1%);
    --third-color: #5297D0;
    --fourth-color: #9A26EA;
}
body{
    background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%);
    color: #fff;
}
h1{
    font-size: 93px;
    line-height: 1.5;
}
h2{
    font-size: 64px;
}
h3{
    font-size: 38px;
}
h4{
    font-size: 48px;
}
p{
    font-size: 20px;
}
.container{
    padding: 60px 20px;
}
.hero{
    background: var(--primary-color);
    text-align: center;
    padding: 120px 0;
}
.hero h2{
    font-size: 30px;
}
.btn-branding{
    background: var(--third-color);
    border-radius:4px;
    color: #fff;
    font-size: 18px;
    line-height:27px;
    padding: 12px 20px;
    margin: 20px 0;
}
.btn-launch{
    background: var(--fourth-color);
    color: #fff;
    border-radius: 5px;
    font-size: 19px;
    padding: 12px 20px;
    margin: 20px 0;
}
.project-description{
    text-align: center;
    padding: 40px 60px;
}
.headshot{
    width: 350px;
    border: 4px solid var(--third-color);
    border-radius: 70px;
}
.portrait{
    width: 250px;
    border: 5px solid var(--fourth-color);
    border-radius: 90px;
}
.heading-container{
    background: var(--primary-color);
    padding: 30px 120px;
}
.section{
    background: var(--fourth-color);
    padding: 20px 30px;
}
.section2{
    background:#5B7BC1;
    padding: 20px 30px;
}
.contact-border{
    border-bottom: 3px solid var(--third-color);
}
.contact-link{
    font-size: 24px;
    color: var(--third-color);
    text-decoration: none;
}
footer{
    margin: 60px 0;
}
footer .contact-container{
    background: var(--secondary-color);
    padding:30px 120px;
    border-radius: 10px;
    margin: 60px 30px;
}
footer .email-link{
    text-align: center;
    text-decoration: none;
    color:var(--third-color);
    font-size: 26px;
}
footer .email-link:hover{
    color:var(--fourth-color);
}
footer .social-links a{
    margin:0 15px;
    color: var(--third-color);
    font-size: 28px;
}
footer .social-links a:hover{
    color: var(--fourth-color);
}
@media(max-width: 900px){
    .container{
        padding: 0;
    }
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 15px;
    }
    h4{
        font-size: 24px;
    }
    p{
        font-size: 12px;
    }
    .hero{
        padding: 80px 20px;
    }
    .hero p{
        margin :0;
    }
    .project-description{
        text-align: center;
        padding: 0;
        margin-bottom: 0;
    }
    .content-container{
        text-align: center;
        padding:0;
    }
    .heading-container{
        padding: 20px 40px;
    }
    .work-content{
        padding: 18px 35px;
    }
    
    .headshot{
        width: 200px;
        margin-top: 20px;
    }
    .portrait{
        width: 125px;
        margin: 15px 0;
    }
    .contact-link{
        font-size: 16px;
    }
    .btn-branding{
        font-size: 10px;
        padding: 6px 10px;
        margin: 10px 0;
    }
    .btn-launch{
        font-size: 10px;
        padding: 10px 10px;
        margin: 20px 0;
    }
    footer .contact-container{
        padding:15px 10px;
        margin: 0 30px;
    }
    footer .email-link{
        font-size: 15px;
    }
    footer .social-links a{
        margin:0 10px;
        font-size: 16px;
    }
}

